{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="text-align: center;">
        <a href="/accounts/password/change" class="btn btn-primary">Zmień hasło</a>
        <a href="/accounts/email/" class="btn btn-secondary">Dodaj e-mail</a>
{#        <a href="/accounts/deactivate" class="btn btn-secondary">Dezaktywuj konto</a>#}
        <a href="/accounts/logout" class="btn btn-secondary">Wyloguj</a>
    </div>
    <br>
    {% endif %}
    <div style="text-align:center">
        <div style="width: 25%; margin: 0 auto;">
            <h1>{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
