{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div style="text-align:center">
        <div style="width: auto; margin: 0 auto;">
            <h1>{% trans "Password Reset" %}</h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>Wysłaliśmy Tobie email. Proszę skontaktuj się z nami, jeśli go nie otrzymasz w ciągu paru minut. (E-mail
                został wysłany do konsoli)</p>
        </div>
    </div>
{% endblock %}
