{% extends "base.html" %}

{% block content %}
    <div style="text-align: center;">
    <a href="wyswietl" class="btn btn-primary">Lista lekarzy</a>
    <a href="dodaj" class="btn btn-secondary">Dodaj lekarza</a>
    <a href="usun" class="btn btn-secondary">Usuń lekarza</a>
</div>
    <br>
    <div style="text-align: center;">
        {% for object in object_list %}
            {% if object.aktywny %}
<div style="border: rgba(0,0,0,0.17) solid; margin-top: 1%; margin-left: 30%; margin-right: 30%">
<br>
    <h3>Lekarz: {{ object.uzytkownik.first_name }} {{ object.uzytkownik.last_name }}</h3>
                <p>Specjalizacja: {{ object.specjalizacja }}
                <p>Numer gabinetu: {{ object.numer_gabinetu }}

{#                <button>siema</button>#}
                <br><br>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}